<div id="player-status">
  <h3 class="current-player">{{game.currentPlayer.name}} <span *ngIf="game.currentPlayer.isWhisperer && !game.gameOver()" class="whispering"> is the {{info.singular(game.animalSet)}}  whisperer!</span></h3>
  <ul class="info">
    <li>Roll even - gain capture dice.</li> 
    <li>Roll odd - {{game.animalSet}} run away</li>  
    <li>Click on {{info.singular(game.animalSet)}} to attempt capture</li>
    <li>Roll {{info.singular(game.animalSet)}} speed or higher to capture</li>
  </ul>
</div>