#player-status {
  text-align: center;
  background-color: white;
}

.whispering {
  font-style: italic;
  color: #663300;
}

.current-player {
  color:orange;
}

.info {
  font-size: 0.8em;
  font-style: italic;
  text-align: left;
}