.success {
  color: green;  
}

.failure {
  color:red;
}

ul {
  list-style-type: none;
}

.dice-results {
  font-size: 2em;
  list-style-type: none;
  padding:0px;
  margin:0px;
}

.dice-results li {
  display: inline-block;
  padding: 0px;
  margin:0px;
}

body {
  font-family: 'Lucida Grande';
  font-weight: 700;
  color: #663300;
  background: url('/app/assets/images/footprints.png');
}

button:focus {
  outline: none;
}

.dice-box {
  margin-top:10px;
  text-align: center;
  padding: 5px;
  border-radius: 15px;
  border: none;
  background-color: rgb(251, 236, 55);
  border: 1px solid #663300;
  font-family: Impact;
  font-size: 1.1em;
  color: #663300;
}

.dice-box p {
  padding: 2px;
  margin: 0px;
}

.dice-box.approach-failure {
  padding:15px;
}

.dice {
  color: black;
  font-size: 2em;
}

#player-info {
  width: 38%;
}

button {
  padding: 15px;
  border-radius: 15px;
  border: none;
  background-color: rgb(251, 236, 55);
  border: 1px solid #663300;
  font-family: Impact;
  font-size: 1.2em;
  color: #663300;
}

button:hover {
  cursor: pointer;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}