<player-status [game]="game"></player-status>
<p>
    <button class="approach-button" 
    id="btn-approach" 
    *ngIf="!game.turnFinished" 
    (click)="approach()">
    Approach chickens!
</button>

<button class="approach-button" 
id="btn-next" 
*ngIf="game.turnFinished" 
(click)="nextTurn()">
Next turn
</button>
</p>

<div class="dice-box" *ngIf="!game.approach.firstTry && !game.turnFinished">
    <dice-results [diceResultsContainer]="diceResultsContainer"></dice-results>

    <ul class="dice-results" *ngIf="game.approach.captureDice > 0">
        <li>
            <span class="capture-text">Capture dice:</span>
        </li>

        <li class="dice" *ngFor="#die of captureDice">
            {{die}}
        </li>
    </ul>
</div>


