.approach-button {
  background-color: #E5C032;
  color: black;
  border: 2px solid black;
  font-family: 'Permanent Marker', cursive;
  font-size: 25px;
  font-weight: 200;
}

p {
  text-align: center;
}

.die-results {
  font-size: 3em;
  list-style-type: none;
  padding:0px;

}

.die-results li {
  display: inline-block;
  padding: 0px;
}