<div *ngIf="!game.approach.firstTry && !game.turnFinished">
    <div *ngIf="lastRoll">
        <ul class="die-results">
          <li *ngFor="#die of diceResults">
            {{die}}
          </li>
          <li>
            = <span [class.failure]="!success" [class.success]="success"> {{total}}</span>
          </li>
        </ul>
    </div>
    Capture dice collection:
    <ul class="die-results">
      <li *ngFor="#die of captureDice">
        {{die}}
      </li>
    </ul>
</div>

<p>
    <button class="btn btn-primary approach-button" 
            id="btn-approach" 
            *ngIf="!game.turnFinished" 
            (click)="approach()">
            Approach chickens!
    </button>

    <button class="btn btn-primary pure-button pure-button-primary" 
            id="btn-next" 
            *ngIf="game.turnFinished" 
            (click)="nextTurn()">
            Next turn
    </button>
</p>