  <table id="positions">
    <tr>
      <th *ngFor="#player of game.players">
        {{player.name}}'s chickens
      </th>
    </tr>
    <tr>
      <td *ngFor="#player of game.players">
        <ul>
          <li *ngFor="#chicken of player.chickens">

            <h3>{{chicken.name}} <span *ngIf="chicken.name === game.currentChicken.name">*</span></h3>

            <img height="50px" src="app/assets/images/default-chicken.png" />

            <p>Speed: {{chicken.speed}}</p>

            <p class="position">
            Position: {{chicken.racePosition}}
            <span *ngIf="success && chicken.name === game.lastChicken.name">(+{{game.lastChicken.speed}})</span>
          </p>
        </li>
      </ul>
    </td>
  </tr>
</table>