<h2>Chicken Pen</h2>
<ul class="chickens list-group" *ngIf="game.chickenPen">
    <li class="list-group-item" *ngFor="#chicken of game.chickenPen.chickens" (click)="capture(chicken)">
        <span class="badge">{{chicken.name}}</span> 
        <span> Scare: {{chicken.scare}} </span>
        <span> Speed: {{chicken.speed}} </span>
    </li>
</ul>

<p *ngIf="game.turnFinished && game.capture.attempted">
    You rolled: {{lastRolls}} = {{total}}. {{message}}.
</p>
<p *ngIf="game.turnFinished && !game.capture.attempted">You failed to approach the chickens.</p>