.chickens li:hover {
  cursor: pointer;
}

.chickens img {
  height:100px;
  margin:auto;
}

.chickens {
  font-family: Impact;
}


ul li {
  display: inline-block;
}

ul {
  margin: auto;
  padding:0px;
  background: url("/app/assets/images/straw.jpg") no-repeat fixed center; 
  border-radius: 50px;
  color:white;
  font-size: 1.6em;
  -webkit-text-stroke: 1px black; color: white;
  border: 5px dashed #663300;
}

.chicken-name {
  -webkit-text-stroke: 1px black; color: white;
}

li {
  list-style-type: none;
  width:25%;
  padding:25px 0px 25px 0px;
}

p {
  text-align: center;
}