h2 {
  -webkit-text-stroke: 1px black;
  color: #E5C032;
  text-shadow:
      3px 3px 0 #000,
    -1px -1px 0 #000,  
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
  font-family: 'Permanent Marker', cursive;
  font-size: 30px;
}

.chickens li:hover {
  cursor: pointer;
}

.list-group-item {
  width: 22%;
  display: inline-block;
  text-align: center;
  margin: 10px;
}

.list-group-item span {
  display: block;
}

.chicken-image {
  width: 80%;
  max-width: 100px;
  margin: 5px;
}

.chicken-name {
  display: block;
  font-size: 1.5em;
  padding: 3px;
}
