<ul class="chickens" *ngIf="game.chickenPen">
    <li *ngFor="#chicken of game.chickenPen.chickens" (click)="capture(chicken)">
        <div>
        <p class="chicken-name">{{chicken.name}}</p> 
        <p><img src="{{chicken.getImage()}}" class="chicken-image"></p>
            <p [class.danger]="chicken.scare === 1"> Scare: {{chicken.scare}} </p>
            <p [class.possible]="capturePossible(chicken)"> Speed: {{chicken.speed}} </p>
        </div>
    </li>
</ul>   

<div class="dice-box" *ngIf="showSuccess()">
    <p>You rolled:</p>
    <dice-results [diceResultsContainer]="diceResultsContainer"></dice-results>
    <p *ngIf="diceResultsContainer.success">You successfully captured {{chicken.name}}</p>
    <p *ngIf="!diceResultsContainer.success">You failed to capture {{chicken.name}}</p>
</div>
<p class="dice-box approach-info" *ngIf="showFailure()">You failed to approach the chickens.</p>