div {
  text-align: center;
  font-size: 1.2em;
}

ul {
  padding: 0px;
  margin: 0px;
}

li{
  margin-bottom:10px;
}

button {
  margin-top: 10px;
}

p{
  color: orange;
}

input {
 border: 1px dashed #663300;
 padding: 10px;
}