<div id="race" >
  <ul class="race-item" id="chickens">

    <li id="finish-line"><img src="app/assets/images/flag.png" /></li>

    <li *ngFor="#chicken of game.chickens">

      <span class="chicken-box" [style.padding-left]="positionPadding(chicken)" [class.hide]="game.isWon() && winningChicken(chicken)">

      <h3>{{chicken.name}}<img *ngIf="currentChicken(chicken)" src="app/assets/images/star.png" class="star" /></h3>

      <img *ngIf="!chicken.hasExploded" src="{{chicken.image}}"/>
      <img *ngIf="chicken.hasExploded" src="/app/assets/images/explosions/1.jpeg"/>
      <span class="speed">({{chicken.speed}})</span>
      </span>
    </li>
  </ul>

  <div class="race-item" id="info">
    <div *ngIf="!game.isWon()">
      <button id="roll" (click)="roll()">{{game.currentChicken.owner.name}} roll for {{game.currentChicken.name}}</button>
      <div *ngIf="moved" class="dice-box">
        <dice-results [diceResultsContainer]="diceResultsContainer"></dice-results>
        <ul>
          <li *ngIf="diceResultsContainer.success">
            <span class="info">{{game.lastChicken.name}} moved {{game.lastChicken.speed}} spaces like a champ</span>
          </li>
          <li *ngIf="!diceResultsContainer.success">
            <span *ngIf="{{!game.lastChicken.hasExploded}}" class="info">{{game.lastChicken.name}} shat it and did nothing</span>
            <span *ngIf="{{game.lastChicken.hasExploded}}" class="info">{{game.lastChicken.name}} exploded! Shiiiat!</span>
          </li>
        </ul>
      </div>
    </div>
    <div *ngIf="game.isWon()">
      <p id="result">{{game.winningChicken.owner.name}}'s {{game.winningChicken.name}} is the winner!
        <br/>
        <img src={{game.winningChicken.image}} />
      </p>

    </div>

  </div>
</div>