<button id="roll" (click)="roll()">Roll</button>
<div *ngIf="moved" class="dice-box">
    You rolled: 
    <ul class="die-results">
      <li *ngFor="#die of diceResults">
        {{die}}
      </li>
      <li>
        = <span [class.failure]="!success" [class.success]="success"> {{total}}</span>
      </li>
    </ul>
</div>

<ul id="positions">
    <li *ngFor="#player of game.players">
    <p>{{player.name}}'s chickens</p>
      <ul>

        <li [class.current]="chicken.name === game.currentChicken.name" *ngFor="#chicken of player.chickens">
          <img height="50px" src="app/assets/images/default-chicken.png" />
          <p>Name: {{chicken.name}}</p>
          <p>Speed: {{chicken.speed}}</p>
          <p>Position: {{chicken.racePosition}}</p>
        </li>
      </ul>

    </li>
</ul>