<div class="container">
  <h1>{{title}}</h1>
  <div *ngIf="game.started == true">
    <div class="chicken-container" *ngIf="!game.gameOver()">
      <chicken-pen [game]="game" id="chicken-pen" class="flex-item"></chicken-pen>
      <div id="player-info" class="flex-item">
        <approach [game]="game"></approach>
      </div>
    </div>
    <players *ngIf="!raceGame" [game]="game"></players>
  </div>

  <button *ngIf="startRacePossible()" (click)="startRace()">Start race!</button>

  <p *ngIf="game.isWon()">{{game.winner.name}} has all the chickens and wins!</p>

  <div *ngIf="raceGame">
    <race-game [game]="raceGame"></race-game>
  </div>

  <start *ngIf="!game.started" [game]="game"></start>
</div>

