
<table>
    <tr>
        <th *ngFor="#player of game.players">
        <span [class.current-player]="currentPlayer(player)">{{player.name}}</span>
        </th>
    </tr>
    <tr>
        <td *ngFor="#player of game.players">
            <ul *ngIf="player.hasChickens()">
                <li *ngFor="#chicken of player.chickens">
                    <img height="50px" src="{{chicken.image}}" class="chicken-image-small">
                    <p>{{chicken.name}} ({{chicken.speed}})</p>
                </li>
            </ul>
        </td>
    </tr>
</table>