<div *ngIf="game.players" class="players">
    <div *ngFor="#player of game.players" class="panel panel-default player">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class='current-player' *ngIf="player.name === game.currentPlayer.name">{{player.name}}</span>
                <span class='resting-player' *ngIf="player.name !== game.currentPlayer.name">{{player.name}}</span>
                <span *ngIf="player.isWhisperer">- whispering!</span>
            </h3>
        </div>
        <div *ngIf="player.hasChickens()" class="panel-body">
            <div class="captured-chicken" *ngFor="#chicken of player.chickens">
                    <img src="{{chicken.image}}" class="chicken-image-small">
                    <p>{{chicken.name}} ({{chicken.speed}})</p>
            </div>
        </div>
    </div>
</div>