ul {
  display:inline-block;
  padding: 2px;
}

td, th {
  vertical-align: top;
  text-align: center;
  padding:10px;
}

th {
  color:orange;
}

table {
  margin-top: 20px;
  background-color: white;
  border: 2px dashed #663300;
}

img {
  height:50px;
}